body{
    width: 95%;
    font: serif, 'Palatino', 30px;
    background: linear-gradient(109.6deg, rgb(6, 2, 2) 32.4%, rgb(137, 30, 47) 98.8%);
}
    h1{
    color: rgb(220, 199, 199);
    text-align:end;
    text-shadow: 6px 7px 3px rgba(84, 61, 56, 0.578);
    max width: 90%;
    font-family: 'Papyrus', fantasy;
    font-size: 65px;
    font-weight: 600;
    margin: 35px;
    padding: 15px 60px 5px 10px;
    background-color: rgba(15, 13, 13, 0.556);
    border-radius: 10px 5px 80px 10px;
    border-bottom: rgba(61, 1, 1, 0.674) ridge 7px;
    border-right: rgba(41, 22, 22, 0.564) ridge 2.5px;
    border-left: rgba(99, 2, 2, 0.674)  ridge 25px;
    box-shadow: 1px 9px 6px rgba(226, 204, 204, 0.673);
}
.profile{
    width: 40%;
    margin: 25px 35px;
    padding: 25px;
    background-color: rgba(15, 13, 13, 0.466);
    border-left: rgba(99, 2, 2, 0.674)  ridge 25px;
    border-top: rgba(72, 9, 9, 0.674) ridge 10px;
    border-radius: 10px 2px 0px 10px;
    box-shadow: 0px -6px 0px rgba(226, 204, 204, 0.673);
}
img{
    display: block;
    max-width: 80%;
    margin: 20px 15px 20px 30px;
    padding: 5px;
    border-radius: 50%;
    opacity: 0.7;
    border: rgba(99, 2, 2, 0.674)  solid 3px;
    background-color: rgba(246, 226, 222, 0.898);
}
 .main-info{
    font-size: 30px;
    color: rgb(220, 199, 199);
    list-style: none;
    line-height: 45px;
}
.fa-solid, .fa-brands{
    color:rgba(225, 62, 62, 0.947);
    margin-right: 40px;
    font-size: 35px;
    text-shadow: 1.5px 2.5px 0px rgba(72, 71, 71, 0.854);
    
}
.fa-github, .fa-linkedin{
    color:rgba(29, 11, 11, 0.969);
    font-size: 45px;
    text-shadow: 1.5px 2.5px 0px rgba(246, 147, 147, 0.854);
    border-radius: 50%;
    background-color: rgba(245, 200, 200, 0.473);
    padding: 18px;
    text-align: center;
}
h2{
    text-align: center;
    width: 80%;
    text-transform: uppercase;
    color: rgb(220, 199, 199);
    text-shadow: 1.5px 2.5px 0px rgba(50, 29, 29, 0.854);
    font-size: 30px;
    margin: 0 auto;
    padding: 35px 5px;
    border-bottom: rgba(235, 213, 213, 0.885) solid 4px;
}
p{
    text-align: center;
    margin: 35px 10px 20px 60px;
    padding: 25px;
    border-top: rgba(235, 213, 213, 0.885) solid 4px;
    max-width: 60%;
}
.education-experience{
    width: 800px;
    max-width: 100%;
    position: relative;
    left: 120%;
    padding: 35px;
    background-color: rgba(124, 116, 116, 0.555);
    margin: -460px 30px 20px 10px;
    border-radius: 3px;
}
.general-info{
    margin-top: -660px;
}
.study{
    font-size: 20px;
    color: rgb(5, 4, 4);
    line-height: 35px;
    font-size: 20px;
    text-align:left;
}
article{
    background-color: rgba(228, 204, 204, 0.947);
    color: rgba(11, 8, 8, 0.773);
    padding: 30px;
    margin: 10px 15px;
    border-radius: 5px;
}
h3{
 font-size: 30px;
 color: rgba(16, 14, 14, 0.907);
 padding: 10px;
 border-bottom: rgba(16, 14, 14, 0.775) solid 3px;
 max-width:65%;
 text-shadow: 1.5px 2px 2px rgba(15, 13, 13, 0.466);
}
span{
    margin-left: 5px;
    padding-left: 5px;
}